
<mat-card class="innerWrapper-pokemon">
    <mat-card-header>
        <mat-card-title>
            {{pokeData.name}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="bottom-row">
        <img [loading]="index >=12 ? 'lazy' : 'eager'" class="poke-basic-img" [src]="this.imageOption ? pokeData.imageMain : pokeData.imageAlt">
        <mat-list>
            <mat-list-item>Id: {{pokeData.id}}</mat-list-item>
            <mat-list-item>Type: {{pokeData.element}}</mat-list-item>
            <mat-list-item>Generation: {{pokeData.generation}}</mat-list-item>
            <mat-list-item>HP: {{pokeData.hp}}</mat-list-item>
            <mat-list-item>Weight: {{pokeData.weight}}</mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button color="primary" mat-raised-button>
            <a class="view-button" [routerLink]="['/details',pokeData.id]" [state]="{ id:5}">View</a>
        </button>
    </mat-card-actions>
</mat-card>

