
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>Ken's Pokedex</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <span>I built this as a way to both gain familiarity with the Angular framework, as well as explore the Angular Material library.</span>
    </mat-card-content>
    <mat-card-actions>
        <button class="load-button" mat-raised-button color="primary" [disabled]="pokemonLoaded" (click)="goList()">
            Proceed
        </button>
    </mat-card-actions>
</mat-card>
