<div class="wrapper">
  <img
    class="landing-icon"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/481px-Pok%C3%A9_Ball_icon.svg.png"
  />
  <span *ngIf="!this.pokeService.pokeListComplete()" class="title"
    >Loading Data...</span
  >
  <span *ngIf="this.pokeService.pokeListComplete()" class="title">Ready!</span>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Ken's Pokedex</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        I built this as a way to gain familiarity with Angular and explore the
        Angular Material library. All of the Images and information in this
        application are from <a href="https://pokeapi.co">https://pokeapi.co</a>,
        <a href="https://bulbapedia.bulbagarden.net">https://bulbapedia.bulbagarden.net</a>,
         and <a href="https://en.wikipedia.org">https://en.wikipedia.org</a>.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button
        class="load-button"
        mat-raised-button
        color="primary"
        [disabled]="!this.pokeService.pokeListComplete()"
        (click)="goList()"
      >
        Continue
      </button>
    </mat-card-actions>
  </mat-card>
</div>
