.main-div {
  min-height: 100vh;
  margin: 4vw 4vw 0 4vw;
}

app-filter {
  margin: 0;
  padding: 0;
}

mat-card {
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 4vw;
}

.gen_button_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.gen-button {
  width: 18%;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5vw 0px 0.5vw 0px;
  box-sizing: border-box;
  margin: 5px;

  span {
    font-size: calc(1vw + 12px);
  }
}

.row-2 {
  display: flex;
  flex-direction: column;
}

.sorting-type {
  display: grid;
  grid-template-rows: 1.15fr 1fr 1fr 1fr 1fr 1fr;
}

.header-type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.type_button_row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.type-button {
  width: 30%;
  height: 92% !important;
  margin: 5px;

  .inner-button {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw 0 1vw 0;
  }

  span {
    font-size: calc(1vw + 12px);
    margin: 0;
    padding: 0;
  }

  img {
    height: 7vh;
    aspect-ratio: 1/1;
    margin-top: 0px;
    margin-bottom: 2vw;
  }
}

.button-row-sort {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-sort {
  width: 90%;
  height: 100% !important;
  font-size: calc(1vw + 12px);
  margin: 10px;
  padding: 1vw 0px 1vw 0px;

  span {
    font-size: calc(1vw + 12px);
  }
}

mat-card-content {
  width: 100%;
  box-sizing: border-box;
}

mat-card-header {
  justify-content: flex-start;
}

@media (min-width: 900px) {
  .type-button {
    width: 95%;
    height: 92% !important;
    margin: 5px;

    .inner-button {
      width: 100%;
      height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1vw 0 1vw 0;
    }

    span {
      font-size: calc(0.5vw + 12px);
      margin: 0;
      padding: 0;
    }

    img {
      height: 9vh;
      aspect-ratio: 1/1;
      margin-top: 10px;
      margin-bottom: .5vw;
    }
  }

  .gen_button_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .gen-button {
    width: 90%;
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vw 0px 0.5vw 0px;
    margin: 0px;

    span {
      font-size: calc(0.5vw + 12px);
    }
  }

  .row-2 {
    display: grid;
    grid-template-columns: 3fr 0.75fr;
    column-gap: 2vw;
    margin-top: 2vw;
  }

  mat-card {
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-bottom: 0;
  }

  .type_button_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .button-sort {
    width: 90%;
    height: 100% !important;
    font-size: calc(1vw + 12px);
    margin: 10px;
    padding: 0.5vw 0px 0.5vw 0px;

    span {
      font-size: calc(0.5vw + 12px);
    }
  }

  .main-div {
    min-height: 100vh;
    margin: 2vw 2vw 0 2vw;
  }
}
