

body{
    margin: 0;
    padding: 0;
}

app-filter{
    margin:0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 2fr 8fr;
}

.row-1{
    background-color: red;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 3fr;
}

.header-gen{
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        padding: 0;
        margin: 5px;
        font-size: 3vw;
    }
}

.gen_button_row{
    background-color: red;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.gen-button{
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: burlywood;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        font-size: 3vw;
    }
}

.row-2{
    display: grid;
    background-color: aquamarine;
    grid-template-columns: 3fr 1fr;
}

.type-column{
    display: grid;
    grid-template-rows: 2fr 3fr 3fr 3fr 3fr;
}

.other-column{
    flex: .3;
    display: flex;
    flex-direction: column;
}

.sorting-type{
    
}

.return-button{
    
}

.header-type{
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        margin: 5px;
        font-size: 3vw;
    }
}

.type_button_row-a{
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.type_button_row-b{
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.type-button{
    width: 95%;
    height: 92%;
    margin: 5px;
    background-color: burlywood;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        font-size: 2vw;
        margin: 0;
        padding: 0;
    }

    img{
        height: 10vh;
        aspect-ratio: 1/1;
        margin-left: 10px;
    }
}
