<div class="header">
    <a routerLink="/filter">
        <button class="filterButton">
            <span>Filter</span>
        </button>
    </a>
    <button (click)="changeImage()" class="filterButton">
        <span>Display {{imageOption ? "Main" : "Alt"}} Images</span>
    </button>
    <div class="detailButton">
        <span><strong>Generations:</strong>&nbsp;</span><span>{{this.ActiveGenerations}}</span>
    </div>
    <div class="detailButton-img">
        <span><strong>Types: </strong></span><span><img class="el-icon" *ngFor="let type of this.ActiveTypes" src={{type}}></span>
    </div>
    <div class="detailButton">
        <span><strong>Sorting:&nbsp;</strong></span><span>{{this.sorting}}</span>
    </div>
</div>
<div class="main">
    <app-pokebasic [imageOption] = "this.imageOption" [pokeData] ="poke" *ngFor="let poke of this.pokeList"></app-pokebasic>
</div>


