body{
    margin: 0;
    padding: 0;
}

app-pokelist{
    margin: 0;
    padding: 0;
    background-color: #CC0000;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    width: 100vw;
    position: relative;
}

.header{
    display: flex;
    min-height: 10vh;
    width: 99%;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: aqua;
}

.filterButton{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(12px + 1vw);
}

.detailButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: calc(12px + 1vw);
}


.detailButton-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: calc(12px + 1vw);
    max-width: 70vw;
}

.detailButton-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(12px + 1vw);
    flex-wrap: wrap;
}
        
.main{
    width: 100%;
}

app-pokebasic{
    width: 33.3%;
    height: 35vh;
    min-height: 300px;
    min-width: 400px;
    display: inline-block;

}

.el-icon{
    display: inline;
    margin-left: 2px;
    height: 2.25vw;
    aspect-ratio: 1/1;
}

