body{
    margin: 0;
    padding: 0;
}



app-pokelist{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    background-color: #f6f6f6;
    min-height: 100vh;
    width: 100vw;
}

mat-paginator{
    background-color: #f6f6f6 !important;
    padding-bottom: 2vw;

}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.filterButton{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(12px + 1vw);
}

.detailButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.detailButton-elements{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(12px + 1vw);
    flex-wrap: wrap;
}
        
.main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2vw;
}

app-pokebasic{

    display: inline-block;
    width: 30.66vw;
    margin-top: 2vw;


}

.el-icon{
    display: inline;
    margin-left: 2px;
    height: 2.25vw;
    aspect-ratio: 1/1;
}

mat-button-toggle-group{
    margin-left: 20px;
}

