<div class="column" id="image-col">
    <button id="back-button" (click)="goBack()">Back</button>
    <img src={{data.images[0]}} alt="">
    <h2>{{data.name}}</h2>
</div>
<div class="column">
    <p>{{data.id}}</p>
    <p>{{data.order}}</p>
    <p>{{data.weight}}</p>
    <p>{{data.height}}</p>
    <p>{{data.base_experience}}</p>
    <h2>Elements</h2>
    <p *ngFor="let type of data.types">{{type}}</p>
    <h2>Stats</h2>
    <p *ngFor="let stat of data.stats">{{stat.name}} {{stat.effort}} {{stat.stat}}</p>
    <h2>Abilities</h2>
    <p *ngFor="let abil of data.abilities">{{abil}}</p>
</div>
<div class="column">
    <h2>Moves</h2>
    <p *ngFor="let move of data.moves">{{move}}</p> 
</div>
