

.main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: #f6f6f6;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100vh;
    overflow: scroll;
    font-size: calc(12px + .7vw);
    
    span{
        margin-top: 3px;
        
    }

    h2{
        margin-bottom: 10px;
    }
}

#image-col{
    justify-content: center;
    align-items: center;

    h2{
        font-size: calc(24px + 3vw);
    }
}

mat-card{
    width: 90%;
}

.moves-content{
    overflow: scroll;
    max-height: 90vh;
}

#back-button{
    position: absolute;
    left: 0;
    top: 0;
}

