<div class="wrapper">
  <mat-toolbar color="primary">
    <button mat-fab extended="true" (click)="goBack()">Back</button>
  </mat-toolbar>
  <div class="detail-main">
    <div class="detail-column" id="image-col">
      <span class="title">{{ data.name }}</span>
      <img
        class="img-main"
        [src]="this.imageOption ? data.images[0] : data.images[1]"
      />
      <mat-button-toggle-group
        (change)="changeImage()"
        name="imgStyle"
        aria-label="Image Style"
      >
        <mat-button-toggle value="italic" [checked]="!this.imageOption"
          >Classic</mat-button-toggle
        >
        <mat-button-toggle
          color="accent"
          [checked]="this.imageOption"
          value="bold"
          >Modern</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
    <div class="detail-column" id="basic-col">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Basic Information </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              Pokemon Id: <strong>{{ data.id }}</strong>
            </mat-list-item>
            <mat-list-item>
              Evolution Order: <strong>{{ data.order }}</strong>
            </mat-list-item>
            <mat-list-item>
              Weight: <strong>{{ data.weight }}</strong>
            </mat-list-item>
            <mat-list-item>
              Height: <strong>{{ data.height }}</strong>
            </mat-list-item>
            <mat-list-item>
              Base Experience: <strong>{{ data.base_experience }}</strong>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title> Element Type </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let type of data.types">
              {{ type }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="detail-column" id="basic-col">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Abilities </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let abil of data.abilities">
              {{ abil }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title> Statistics </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let stat of data.stats">
              {{ stat.name }}: <strong>{{ stat.stat }}</strong>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="detail-column" id="moves-col">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Moves </mat-card-title>
        </mat-card-header>
        <mat-card-content class="moves-content">
          <mat-list>
            <mat-list-item *ngFor="let move of data.moves">
              {{ move }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
