
.detail-main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    margin-right: 1vw;
}
mat-toolbar{
    z-index: 10
}
.detail-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: calc(12px + .7vw);
    
    span{
        margin-top: 3px;
        
    }

    h2{
        margin-bottom: 10px;
    }
}

#image-col{
    display: flex;
    align-items: center;
    justify-content: center;

    h2{
        font-size: calc(24px + 1vw);
    }
}

mat-card{
    width: 90%;
    justify-content: flex-start;
    align-items: start;
    align-content: start;
    margin-top: 2vw;
}

.moves-content{
    overflow: scroll;
    max-height: calc(75vh);
    width: 100%;
    box-sizing: border-box;
}

.title{
    font: 300 24px/32px Roboto, sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    -webkit-font-smoothing: antialiased;
    text-transform: var(--mdc-typography-headline6-text-transform, none);
    font-size: 3vw;
}

.wrapper{
    height: 100vh;
    width: 100vw;
}